
WalletProjekt/obj/
WalletProjekt/bin/
WalletProjekt/obj/Debug/WalletProjekt.exe
WalletProjekt/obj/Debug/MainWindow.g.i.cs
WalletProjekt/.vs/WalletProjekt/v16/Server/sqlite3/storage.ide-wal
WalletProjekt/.vs/WalletProjekt/v16/Server/sqlite3/storage.ide-shm
